*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.head-container,
.footer{
    /* background-color: #1F2937; */
    background-color: #000000;
    color: #F9FAF8;
}

.quote-container{
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.head-container{
    display: flex;
    flex-direction: column;
    padding: 12px 128px 64px 128px;
    gap: 64px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header-logo{
    font-size: 24px;
}

.header-links{
    display: flex;
    gap: 24px;
}

.header-links a,
.hero-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.hero-main-text{
    font-size: 48px;
    font-weight: 900;
}

.sign-up{
    /* background-color: #3882F6; */
    background-color: #000000;
    color: #F9FAF8;
    padding: 2px 16px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.head-content{
    display: flex;
    gap: 48px;
}

.head-content .content{
    flex-basis: 40%;

    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 16px;
}

.head-content img{
    flex-grow: 1;
    max-height: 250px;
    min-width: 300px;
}

.main-container > p{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.img-text > p{
    color: #1F2937;
}

.main-container{
    display: flex;
    flex-direction: column;

    text-align: center;
    gap: 32px;
    padding: 32px 0px 72px 0px;
}

.img-container{
    display: flex;

    justify-content: center;
    gap: 32px;
}

.img-container img{
    height: 175px;
    width: 175px;

    border: 2px solid #000000;
    border-radius: 10px;
    margin-bottom: 8px;
}

.img-text{
    width: 175px;
}

.quote-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-content{
    flex-basis: 60%;
}

.author{
    text-align:end;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    margin-right: 32px;
}